---
const { variant= "primary", size = "small" } = Astro.props; 

const buttonStyling = "border-2 border-black bg-black text-white rounded animate-pulse hover:bg-white hover:text-black"; 


const sizeClasses = {
    "large": "px-10 py-5 text-xl",
    "small": "px-5 py-3"
};
---
<div>
    <button class:list={[buttonStyling, sizeClasses[size]]}><slot/></button>
</div>

