---
import Link from '../components/Link.astro'
---
<div x-data="{ showmenu: false }" class="p-8 fixed lg:static w-full z-10 bg-neutral-50" >
    <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="">
    <a href="#navbar" class="text-lg">Københavnerbilleder</a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
    <ul class="flex flex-row gap-10">
    <li class=""><Link href="#hero" >Københavnerbilleder</Link></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
    <li class=""><Link href="#indhold" >Bogens indhold</Link></li>
    <li class=""><Link href="#forfatteren" >Forfatteren</Link></li>
    <li class=""><Link href="#bestil" >Køb nu</Link></li>
    </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center pt-6" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul >
        <li class=""><Link href="#hero" >Københavnerbilleder</Link></li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
        <li class=""><Link href="#indhold" >Bogens indhold</Link></li>
        <li class=""><Link href="#forfatteren" >Forfatteren</Link></li>
        <li class=""><Link href="#bestil" >Køb nu</Link></li>
    </ul>
    </nav>
    </div>
